* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: #6e9a75;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

h2 {
  display: flex;
  align-self: center;
  font-size: 1em;
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .grid-rooms {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); */
    grid-template-columns: repeat( 3, minmax(120px, 200px));
    justify-content: center;
    grid-gap: 1rem;
  }
  @media screen and (max-width: 500px) {
    .grid-rooms {
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); */
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .forcast-day>img {
      height: 75px;
      width: 75px;
    }
  }
}

.grid-rooms {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}

header {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  /* border: 1px solid black;
  border-radius: 0.5rem; */
  padding: 0.5rem;
  align-items: center;
}

header>h1 {
  font-size: 200%;
}

.room {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem 2rem 0.5rem;
  background-color: rgb(202, 197, 197);
  box-shadow: 5px 2px 2px rgb(10, 70, 10);

}

.room>h2 {
  order: 1;
  /* margin: 1rem 1rem 0; */
}

.room>.temp-display {
  display: flex;
  align-self: center;
  margin: 1.25em 1rem 1rem;
  font-weight: bold;
  font-size: 150%;
}

.room>img {
  order: -1;
  align-self: center;
}

.forcast {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: rgb(202, 197, 197);
  box-shadow: 5px 2px 2px rgb(10, 70, 10);

}

.forcast-day {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.forcast-day>div {
  align-self: center;
}

.forcast-day>.temp-display {
  font-size: 150%;
}

.forcast-day>p {
  text-align: center;  
}