* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-image: linear-gradient(#3c4669ff, #252f4aff);
  /* background-color: #293451ff; */
  color: rgb(255, 255, 255);
}

main {
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

h2 {
  display: flex;
  align-self: center;
  font-size: 1em;
}



.grid-rooms {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}

header {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  /* border: 1px solid black;
  border-radius: 0.5rem; */
  padding: 0.5rem;
  align-items: center;
}

header>h1 {
  font-size: 200%;
}

.room {
  display: flex;
  flex-flow: column;
  border-top: 2px solid #02a9e7ff;
  border-left: 2px solid #02a9e7ff;
  border-image: linear-gradient(#02a9e7ff, #fd79b8ff);
  border-image-slice: 1;
  border-top-left-radius: 0.5rem;
  /* border-radius: 0.5rem; */
  padding: 1rem 2rem 0.5rem;
  /* background-color: #293451ff; */
  /* box-shadow: -3px -2px 5px #02a9e7ff; */

}

.room>h2 {
  order: 1;
  /* margin: 1rem 1rem 0; */
}

.room>.temp-display {
  display: flex;
  align-self: center;
  margin: 1em 1rem 1rem;
  font-weight: bold;
  font-size: 250%;
}

.room>img {
  width: 50px;
  height: 50px;
  order: -1;
  align-self: center;
}

.forcast {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border-top: 2px solid #02a9e7ff;
  border-left: 2px solid #02a9e7ff;
  border-image: linear-gradient(#02a9e7ff, #fd79b8ff);
  border-image-slice: 1;
  border-top-left-radius: 0.5rem;
  padding: 2rem;
  /* background-color: rgb(202, 197, 197); */
  /* box-shadow: -3px -2px 1px #02a9e7ff; */

}

.forcast-day {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.forcast-day>img {
  width: 40px;
  height: 40px;
  /* order: -1; */
  align-self: center;
  margin: 1em;
}

.forcast-day>div {
  align-self: center;
}

.forcast-day>.temp-display {
  font-size: 150%;
}

.forcast-day>p {
  text-align: center;  
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .grid-rooms {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); */
    grid-template-columns: repeat( 3, minmax(120px, 200px));
    justify-content: center;
    grid-gap: 1rem;
  }
  @media screen and (max-width: 400px) {
    .grid-rooms {
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); */
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .room>.temp-display {
      display: flex;
      align-self: center;
      margin: 1.25em 1rem 1rem;
      font-weight: bold;
      font-size: 150%;
    }

    .forcast-day>img {
      height: 32px;
      width: 32px;
    }
  }
}